version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: adm_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  etl:
    build:
      context: .
      dockerfile: dockerfile
    container_name: adm_project_etl
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/
      - DB_NAME=user2_db
    volumes:
      - ./etl.py:/app/etl.py
      - ./dataset:/app/dataset
      - ./.env:/app/.env

volumes:
  mongo_data:
